.lorem p {
  text-align: center;
  padding: 64px 0 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  text-align: center;

  color: rgba(0, 0, 0, 0.65);
}

/* .pusk-btn {
  background: #f4f8fa;
  padding-bottom: 45px;
} */

.policy {
  display: flex;
  justify-content: center;
}

.policy p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Segoe UI", Arial, sans-serif;
  max-width: 366px;
  text-align: center;
  color: #778699;
}
