@import "./common.css";
@import "./footer.css";
@import "./header.css";

#trend {
  background: #f4f8fa;
}

.trent-top {
  display: flex;
  justify-content: center;
}
.card {
  margin-top: 107px;

  width: 500px;

  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04),
    0px 4px 56px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.card-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 56px;
}

.content h1 {
  font-family: "Segoe UI", Arial, sans-serif;
  margin-top: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 39px;
  color: rgba(0, 0, 0, 0.85);
}

.content p {
  margin-top: 16px;
  margin-right: 14px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444150;
}

.content a {
  text-decoration: underline;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #01bab3;
}

/* form start */

.form-top {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

input:focus {
  outline: none;
}

label {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
}

span {
  color: #01bab3;
}

.form-left input {
  font-family: "Segoe UI", Arial, sans-serif;
  margin-top: 8px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  max-width: 200px;
  padding: 10px 0 14px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #444150;
}

.form-right input {
  font-family: "Segoe UI", Arial, sans-serif;
  margin-top: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  max-width: 200px;
  padding: 10px 0 14px 16px;
}

.form-left input:hover,
.form-right input:hover {
  border: 2px solid #01bab3;
}

.form-right input ::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  opacity: 0.5;
}

.data {
  margin-top: 24px;
}

.data input {
  display: block;
  background: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 6px;
  padding: 10px 14px 16px 14px;

  width: 100%;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444150;

}

.data input:hover {
  border: 2px solid #01bab3;
}

.gender {
  display: flex;
  slot
  gap: 16px;
}

.gender-left {
  padding: 14px 0 16px 14px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  max-width: 200px;
  border-radius: 4px;
}

.gender-end {
  padding: 14px 0 16px 14px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  max-width: 200px;
  border-radius: 4px;
}

.gender-end,
.gender-left {
  flex: 1;
  width: 100%;
  border-radius: 4px;
}

.gender-end:hover,
.gender-left:hover {
  border: 2px solid #01bab3;
}

form p {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 24px 0 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
}

.gender-end input,
.gender-end input {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 19px 0 19px 21px;
  color: #444150;
}

.skype {
  margin: 24px 0;
}

.skype input,
.promo input {
  font-family: "Segoe UI", Arial, sans-serif;
  display: block;
  margin-top: 8px;
  width: 100%;
  padding: 10px 0 14px 16px;
  background: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
 
}

.skype input:hover,
.promo input:hover {
  border: 2px solid #01bab3;
}

.skype input :hover {
  border: 2px solid #01bab3;
}

.btn {
  outline: none;
  border: none;
  font-family: "Segoe UI", Arial, sans-serif;
  margin-top: 24px;
  padding: 12px 0;
  width: 100%;
  background: #01bab3;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.btn img {
  width: 20px;
}

/* second steep */

#trend-second {
  background: #ffffff;
}

.card-second {
  margin-top: 107px;
  max-width: 500px;
  padding: 40px;
  background: #ffffff;
  
  border-radius: 10px;
}

.emal input , #password ,#confirm-box
 {
  margin-top: 8px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  padding: 10px 0 10px 15px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 23px;
}

.phone {
  display: flex;
}

.input-tel {
  flex: 1;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  padding: 10px 0 10px 15px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 0px 6px 6px 0;
}

.phone button {
  background-color: transparent;
  margin-top: 8px;
  padding: 10px 10px 10px 5px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 6px 0 0 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #444150;
}

.regin {
  display: flex;
  gap: 16px;
  margin-top: 22px; 
  margin-bottom: 18px;
}
.regin-left select {
  font-family: "Segoe UI", Arial, sans-serif;
  padding: 9px 16px 11px 16px;
  width: 100%;
  border-radius: 6px;
  margin-top: 9px;
  border: 1px solid #d9d9d9;
  outline: none;
}

.regin-end input {
  font-family: "Segoe UI", Arial, sans-serif;
  display: block;
  margin-top: 9px;
  padding: 9px 16px 11px 16px;
  max-width: 200px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #d9d9d9;
}

.password-box {
  position: relative;
 
}

.password-box i {
  position: absolute;
  right: 10px;
  top: 43px;
}

.confirm {
  margin-bottom: 70px;
}

.card-second input:hover {
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04),
     0px 4px 56px rgba(0, 0, 0, 0.04);
}

select:hover {
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04),
  0px 4px 56px rgba(0, 0, 0, 0.04);
}

 .phone  button:hover{
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04),
  0px 4px 56px rgba(0, 0, 0, 0.04);
}

.boc input:hover {
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04),
  0px 4px 56px rgba(0, 0, 0, 0.04);
}
